/*body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}*/

.Select-menu-outer {
  overflow: auto;
  z-index: 1;
  position: relative;
}

#treeWrapper:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

#treeWrapper:-moz-full-screen {
  height: 100%;
  width: 100%;
}

#treeWrapper:-ms-fullscreen {
  height: 100%;
  width: 100%;
}

#treeWrapper:fullscreen {
  height: 100%;
  width: 100%;
}

#treeWrapper {
  height: 500px;
  width: 100%;
}

#tree-container:-webkit-full-screen {
  height: 100%;
  width: 100%;
}

#tree-container:-moz-full-screen {
  height: 100%;
  width: 100%;
}

#tree-container:-ms-fullscreen {
  height: 100%;
  width: 100%;
}

#tree-container:fullscreen {
  height: 100%;
  width: 100%;
}

/* login page */

.login-page {
  width: 680px;
  padding: 8% 0 0;
  margin: auto;
}

@media only screen and (max-width: 680px) {
  .login-page {
    width: 100%;
  }  
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 580px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media only screen and (max-width: 580px) {
  .form {
    max-width: 100%;
  }  
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container-login {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container-login:before, .container-login:after {
  content: "";
  display: block;
  clear: both;
}
.container-login .info {
  margin: 50px auto;
  text-align: center;
}
.container-login .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container-login .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container-login .info span a {
  color: #000000;
  text-decoration: none;
}
.container-login .info span .fa {
  color: #EF3B3A;
}
.loginLogo {
  width: 100px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(80, 170, 202, 0.8);
  border-radius:100%;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.grey {
  background-color: pink;
}